///
/// The definition of styles managing the top-level layout of the application.
///

@use "./colors.scss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--textPrimary);
	background-color: var(--bg-primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100vw;

	#app {
		width: 100vw;
		height: 100vh;

		display: flex;
		flex-direction: column;

		$top-bar-height: 3vh;
		$top-bar-min-font: 2rem;
		$top-bar-min-height: calc($top-bar-min-font + 0.4rem);

		#top-bar {
			flex-shrink: 0;
			width: 100%;
			height: $top-bar-height;
			min-height: $top-bar-min-height;
			background-color: var(--bg-muted);
			border-bottom: 1px solid var(--borderGray-default);
			z-index: 11;

			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "Source Code Pro", Courier, monospace;

			h1 {
				font-size: $top-bar-min-font;
				font-weight: 1000;
			}

			position: relative;

			.category-container {
				position: absolute;
				left: 0.5rem;
				top: 0;
				bottom: 0;

				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;

			}

			.category {
				$horizontal-padding: 1rem;
				$dropdown-gap: 0.5rem;

				position: relative;

				button {
					background-color: transparent;
					border: none;
					padding: 0.5rem $horizontal-padding;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}

				&:hover,
				&.clicked,
				.dropdown {
					background-color: var(--gray-900);
					border-radius: 0.3rem;
				}

				.gap-filler {
					display: none;

					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					height: $dropdown-gap;
				}

				.dropdown {
					display: none;

					position: absolute;
					top: calc(100% + $dropdown-gap);
					left: 0;
					width: max-content;
					border: 1px solid var(--gray-800);

					padding: 0.5rem 0;
					padding-right: $horizontal-padding;

					button {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-content: center;
						gap: 0.5rem;
						$internal-padding: 0.5rem;
						padding: $internal-padding;
						margin: 0.1rem calc($horizontal-padding - $internal-padding);
						border-radius: 0.1rem;
						border-width: 0;
						background-color: var(--gray-900);
						cursor: pointer;

						&:hover {
							background-color: var(--gray-800);
						}

						p {
							margin: auto 0;
						}
					}
				}

				&.clicked {

					.dropdown,
					.gap-filler {
						display: inline-block;
					}
				}
			}
		}

		#layout-container {
			position: relative;
			flex: 1 0 0;

			#tiling-layout {
				width: 100%;
				height: 100%;
			}

			&.on-drag {
				cursor: copy;
			}

			.on-drag {
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 5px dashed;
				pointer-events: none;
			}

			.block-pointer-events {
				* {
					pointer-events: none;
				}
			}
		}

		#speedscope-container {
			flex: 1 1 auto;
			width: 100%;
			height: 100%;

			.welcome-message-code {
				border-radius: 0.1rem;
				font-family: Rooto Mono;
				padding: 0 0.25rem;
			}
		}

		#info-panel {
			position: relative;
			width: 100%;
			height: 45vh;
			overflow-y: auto;
			background-color: var(--bg-default);

			.top-border {
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;

				background-color: transparent;
				padding-bottom: 8px;
				border-top: 1px solid var(--borderGray-default);
				cursor: row-resize;
			}
		}
	}
}